# Build folders
/build/
/cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/

client/generated/
server/generated/
*.pb.cc
*.pb.h
*.grpc.pb.cc
*.grpc.pb.h


# Binaries
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.pdb

# OS / editor junk
.DS_Store
.vscode/
.idea/
